<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Sup World!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>    
    </head>
    <body>
        <div class="ui container center aligned segment">
            <div class="ui pointing menu">
                <a class="item" href="/">Home</a>
                <a class="item active" href="/projects">Projects</a>
                <a class="item" href="/contact">Contact</a>
            </div>
            <h1> Portfolio Bacon</h1>    
        </div>
    </body>
</html>