@{
    ViewData["Title"] = "Home Page";
}
<div id=“registration_grid” class=“ui equal wide grid”>
        <div class=“six wide column”>
            <div class=“ui segment”>
                <h1>Registration</h1>
                <form class=“ui form”>
                    <div class=“field”>
                        <label>First Name</label>
                        <input type=“text” name=“first-name” placeholder=“First Name”>
                    </div>
                    <div class=“field”>
                        <label>Last Name</label>
                        <input type=“text” name=“last-name” placeholder=“Last Name”>
                    </div>
                    <div class=“field”>
                        <label>Email</label>
                        <input type=“email” name=“email” placeholder=“Email”>
                    </div>
                    <div class=“field”>
                        <label>Password</label>
                        <input type=“password” name=“password” placeholder=“Password”>
                    </div>
                    <div class=“field”>
                        <label>Password Confirm</label>
                        <input type=“password” name=“password” placeholder=“Password Confirm”>
                    </div>
                    <div>
                        <button class=“ui primary button” type=“submit”>Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class=“six wide column”>
            <div class=“ui segment”>
                <h1>Log In</h1>
                <form class=“ui form”>
                    <div class=“field”>
                        <label>Email</label>
                        <input type=“email” name=“email” placeholder=“Email”>
                    </div>
                    <div class=“field”>
                        <label>Password</label>
                        <input type=“password” name=“password” placeholder=“Password”>
                    </div>
                    <div>
                        <button class=“ui primary button” type=“submit”>Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>