<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registrtion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div id="wrapper">
      <h3>Welcome {{ request.session.user_fname }}</h3>
      {% if messages %}
      <ul id="theErrors" class="list-group">
        {% for msg in messages %}
        <li class="list-group-item list-group-item-success">{{ msg }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
      </form>
    </div>
  </body>
</html>
