<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Product</title>
  </head>
  <body>
    <div id="wrapper">
      <h1> Add a product!</h1>
      <form action="{% url 'restful:create' %}" method="POST" id="product_form">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="descript">Description:</label>
        <input type="text" name="description" id="descript"><br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price"><br>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <a href="{% url 'restful:products' %}">go back</a>
    </div>
  </body>
</html>
