<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Express?!</title>
    </head>
    <body>
        <div id='wrapper'>
            <h1>Hello world</h1>
            <h5>You deserve some <%= breakfast[0] %></h5>
            <% for (var i=0; i<breakfast.length; i++) { %>
                <h3> Any <%= breakfast[i] %> </h3>
            <%}%>
            <form action='/users' method='post'>
                Name: <input type='text' name='name'>
                Email: <input type='text' name='email'>
                <input type='submit' value='create user'>
            </form>
            <form action='/users/1'>
                <button id='user_one_button'>Im a user button.</button>
            </form>
        </div>
    </body>
</html>
